


body{
    background-color: #f7d26f ;
}

.damars{
text-align: center;
font-size: 30px;
color: rgb(2, 100, 2);
}
.content{
    color:#800000;
    margin-left: 100px; 
    font-weight: bold;
    font-size: 25px ;
}
.josiane{
     margin-left: 200px;
     color: #800080;
      font-weight: bold;
      font-size: 25px;
      
}
.Mediatrice{
    text-align: center;
}
a{
    margin-left: 450px ;
    font-size: 20px;
}